.container {
    display: flex;
    gap: 100px;
    height: 80vh;
  }
  
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* gap: px; */
  }
  
  .title{
    font-size: 85px;
    line-height: 13vh;
    font-weight: 700;
    margin-bottom:5vh;
  }
  
  .desc{
    font-size: 15px;
    margin-bottom: 4vh;
    font-weight: 200;
  }
  
  .buttons{
    display: flex;
    gap: 20px;

  }
  
  .button{
    padding: 13px;
    min-width: 120px;
    cursor: pointer;
    border: none;
  }
  
  .button:first-child{
    background-color: var(--btn);
    color: var(--text);
    font-weight: 600;
    border-radius: 5px;
  }

  .buttonC{
    background-color: var(--text);
    color: var(--bg);
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    border-radius: 5px;
    font-weight: 600;
    padding-bottom: 2vh;
    padding-top: 1.8vh;
  }
  
  .brands{
    width: 500px;
    height: 50px;
    position: relative;
    filter: grayscale(1);
    padding-top: 3vh;
  }
  
  .imgContainer {
    flex: 1;
    position: relative;
  }
  
  @media (max-width: 1024px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    .buttons{
      justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 64px;
    }

    .buttonC{
      padding-left: 2vw;
      padding-right: 2vw;
      padding-bottom: 2.7vh;
    }

    .brands{
      height: 40px;
      position: relative;
      filter: grayscale(1);
      text-align:center;
      margin-left: 8vw;
    }
  
    .brands{
      width: 100%;
    }
  }